<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty plugin="gitlab-plugin@1.5.35">
      <gitLabConnection>https://gitlab.int.infinit.cx/</gitLabConnection>
      <jobCredentialId></jobCredentialId>
      <useAlternativeCredential>false</useAlternativeCredential>
    </com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.34">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>export_oauthclient_id</name>
          <description>EXPORT - OAuthClient ID found on the OAuth page of Admin UI</description>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>export_oauthclient_secret</name>
          <description>EXPORT - OAuthClient secret found on the OAuth page of Admin UI.</description>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>import_oauthclient_id</name>
          <description>IMPORT - OAuthClient ID found on the OAuth page of Admin UI</description>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>import_oauthclient_secret</name>
          <description>IMPORT - OAuthClient secret found on the OAuth page of Admin UI.</description>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>resource_types</name>
          <description>Resource types to export - https://registry.terraform.io/providers/MyPureCloud/genesyscloud/latest/docs

Examples:
&quot;genesyscloud_architect_datatable&quot;
&quot;genesyscloud_architect_datatable_row&quot;
&quot;genesyscloud_architect_user_prompt&quot;
&quot;genesyscloud_architect_schedules&quot;
&quot;genesyscloud_routing_queue&quot;
&quot;genesyscloud_architect_ivr&quot;
&quot;genesyscloud_user&quot;

DataTables Export - &quot;genesyscloud_architect_datatable&quot;, &quot;genesyscloud_architect_datatable_row&quot;
Queues &amp; Members of queue - &quot;genesyscloud_user&quot;, &quot;genesyscloud_routing_queue&quot;</description>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>aws_region_export</name>
          <description>EXPORT AWS region where org exists. e.g. us-east-1
https://help.mypurecloud.com/articles/aws-regions-for-genesys-cloud-deployment/</description>
          <defaultValue>eu-central-1</defaultValue>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>aws_region_import</name>
          <description>IMPORT AWS region where org exists. e.g. us-east-1
https://help.mypurecloud.com/articles/aws-regions-for-genesys-cloud-deployment/</description>
          <defaultValue>eu-central-1</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@4.11.3">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://gitlab.int.infinit.cx/ext.kamil.sienicki/genesyscloudterraform/</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/main</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="empty-list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>export PATH=&quot;/cygdrive/c/Tools/cygwin64/bin/:$PATH&quot;

# Update resource_types variable in terraform file
sed -i &quot;s/RESOURCE_TYPES/${resource_types}/g&quot; genesyscloud_tf_export.tf

# EXPORT
export GENESYSCLOUD_REGION=$aws_region_export
export GENESYSCLOUD_OAUTHCLIENT_ID=$export_oauthclient_id
export GENESYSCLOUD_OAUTHCLIENT_SECRET=$export_oauthclient_secret
&quot;$WORKSPACE&quot;/terraform init -no-color
&quot;$WORKSPACE&quot;/terraform apply -no-color -auto-approve

# IMPORT
export GENESYSCLOUD_REGION=$aws_region_import
export GENESYSCLOUD_OAUTHCLIENT_ID=$import_oauthclient_id
export GENESYSCLOUD_OAUTHCLIENT_SECRET=$import_oauthclient_secret
&quot;$WORKSPACE&quot;/terraform -chdir=genesyscloud_tf_export init -no-color
&quot;$WORKSPACE&quot;/terraform -chdir=genesyscloud_tf_export apply -no-color -auto-approve

# DESTROY (for testing)
sleep 120
&quot;$WORKSPACE&quot;/terraform -chdir=genesyscloud_tf_export destroy -auto-approve -no-color</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.ws__cleanup.WsCleanup plugin="ws-cleanup@0.42">
      <patterns class="empty-list"/>
      <deleteDirs>false</deleteDirs>
      <skipWhenFailed>false</skipWhenFailed>
      <cleanWhenSuccess>true</cleanWhenSuccess>
      <cleanWhenUnstable>true</cleanWhenUnstable>
      <cleanWhenFailure>true</cleanWhenFailure>
      <cleanWhenNotBuilt>true</cleanWhenNotBuilt>
      <cleanWhenAborted>true</cleanWhenAborted>
      <notFailBuild>false</notFailBuild>
      <cleanupMatrixParent>false</cleanupMatrixParent>
      <externalDelete></externalDelete>
      <disableDeferredWipeout>false</disableDeferredWipeout>
    </hudson.plugins.ws__cleanup.WsCleanup>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.42">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
      <disableDeferredWipeout>false</disableDeferredWipeout>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
  </buildWrappers>
</project>

